body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* -----> HEADER <----- */

header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  opacity: 0.9;
  top: 0;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-content: flex-start;
  height: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

header nav {
  display: flex;
}

nav span {
  text-align: right;
  padding: 20px;
}

a {
  color: seashell;
}

/* -----> CONTAINER <----- */

.container {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

/* -----> Section: Mission <----- */

#mission {
  height: 700px;
  width: 1200px;
  background-image: url('../images/img-mission-background.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data {
  background-color: black;
  height: 100px;
}

.data h2 {
  margin: 0px;
}

/* -----> Section: Tea <----- */

.pics {
  height: 200px;
  width: 300px;
}

#location {
  height: 500px;
  width: 1200px;
  background-image: url('../images/img-locations-background.jpg');
}

.downtown {
  background-color: black;
  width: 300px;
  opacity: 1;
}

.east {
  background-color: black;
  width: 300px;
  opacity: 1;
}

.oakdale {
  background-color: black;
  width: 300px;
  opacity: 1;
}

.copyright {
  text-align: left;
  padding: 20px;
}